<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artikel - The Heavy</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Roboto:wght@500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
</head>
<body class="font-roboto">
    <div class="sidebar fixed top-0 bottom-0 -left-80 lg:hidden bg-primary w-80 shadow-md z-50 p-4 overflow-y-auto">
        <div class="flex justify-between text-white items-center">
            <img src="../public/img/logo.png" alt="Logo" class="max-lg:mr-8">
            <div class="cursor-pointer px-4" onclick="Open()">
                <i class="bi bi-x-lg"></i>
            </div>
        </div>
        <div class="py-6">
            <ul class="text-white [&>li]:my-4 [&>li]:pl-4 [&>li]:py-4">
                <li class="hover-side" onclick="window.location.href='./index.html'"><i class="bi bi-house-door-fill mr-4"></i>Home</li>
                <li class="rounded-lg bg-slate-400 cursor-pointer transition-all duration-300" onclick="window.location.href='./product.html'"><i class="bi bi-grid-1x2-fill mr-4"></i>Our Unit</li>
                <li class="hover-side" onclick="window.location.href='./contact-us.html'"><i class="bi bi-telephone-inbound-fill mr-4"></i>Contact Us</li>
                <li class="hover-side" onclick="window.location.href='./about-us.html'"><i class="bi bi-question-circle-fill mr-4"></i>About Us</li>
                <li class="hover-side" onclick="window.location.href='./blog.html'">./<i class="bi bi-front mr-4"></i>Blog</li>
            </ul>
        </div>
    </div>
    <section class="text-white">
        <header class="bg-primary py-2">
            <div class="container mx-auto">
                <div class="flex justify-between items-center">
                    <img src="../public/img/logo.png" alt="Logo">
                    <ul class="flex justify-between w-[500px] [&>li>a:hover]:text-slate-300 max-lg:[&>li]:hidden">
                        <li><a href="./index.html">Home</a></li>
                        <li><a href="./product.html">Our Unit</a></li>
                        <li><a href="./contact-us.html">Contact Us</a></li>
                        <li><a href="./about-us.html">About Us</a></li>
                        <li><a href="./blog.html">Blog</a></li>
                    </ul>
                    <a href="https://api.whatsapp.com/send?phone=6282337719901" class="bg-secondary rounded-md py-3 px-5 hover:bg-amber-600 duration-300 max-lg:hidden" target="_blank"><i class="fab fa-lg fa-whatsapp mr-2"></i>Contact Us</a>
                    <button class="lg:hidden sm:ml-8 max-[640px]:ml-8 text-2xl" onclick="Open()">
                        <i class="bi bi-list"></i>
                    </button>
                </div>
            </div>
        </header>
    </section>
    <section class="bg-smoke">
        <div class="container mx-auto">
            <div class="flex pt-24 pb-24 justify-between xl:flex-row max-xl:flex-col">
                <div class="max-xl:mx-auto xl:max-w-[640px]">
                    <img src="../public/img/blog-detail.png">
                    <div class="max-lg:mt-12 lg:mt-10">
                        <h5 class="font-semibold text-4xl mb-4">We Construct Dreams</h5>
                        <p class="font-poppins text-silver3 text-sm mb-4">posted by: admin1<span class="mr-4">20-02-2023</span></p>
                        <p class="font-poppins max-w-[560px] mb-4">Lorem ipsum dolor sit amet consectetur. Dolor viverra ac vulputate arcu. Sit ac ullamcorper et lectus eget mauris malesuada risus. Lacus nunc nec quis consectetur eget nullam fames vitae. Vulputate massa enim scelerisque pellentesque mattis magna sit scelerisque.</p>
                        <p class="font-poppins max-w-[560px] mb-6">Lorem ipsum dolor sit amet consectetur. Orci nec pharetra quis tempor lacus tincidunt elementum nec. Pretium lacus ridiculus est ut vestibulum leo quam viverra ut. Volutpat eget etiam venenatis id aliquam consectetur nulla. Montes in nibh eget consequat. Lectus est sit sed nisi. Facilisis scelerisque augue donec dictum sed. Mauris cursus euismod ultricies sit amet eu faucibus. Ac nunc turpis lectus malesuada nec. Eros fames netus cras integer quis pulvinar eget.<br>
                        Mollis placerat mattis nulla elit mollis. Vitae cras aliquet elit sit ut velit malesuada malesuada. A magna lobortis ultricies porttitor cursus blandit varius accumsan. At aliquet tincidunt tincidunt integer rhoncus volutpat enim accumsan pretium. </p>
                    </div>
                    <img src="../public/img/middle-artikel.png" class="mb-6">
                    <p class="font-poppins max-w-[560px] mb-6">Sapien cursus commodo rhoncus tempor cras volutpat netus pellentesque. Sem commodo eu sed in. Aliquam magna nibh pharetra convallis. Velit feugiat lobortis sodales blandit nullam. Vehicula sit viverra mauris eu mauris lectus. Eros in eget pellentesque in feugiat consectetur in viverra nunc. </p>
                    <p class="font-poppins max-w-[560px] mb-6">Maecenas ullamcorper blandit iaculis rutrum viverra vulputate non. Tellus a nunc condimentum nisl mattis cras. Dui pharetra nam ornare eros quis tempus. Ut ornare placerat rhoncus mi fusce nascetur tellus mauris sit. Odio enim varius volutpat id amet. Commodo morbi sed a a massa. Magnis in enim tincidunt quisque nulla laoreet ac. Neque amet maecenas nec augue senectus velit facilisi sit. Pretium neque amet odio arcu faucibus. Sit ultricies neque quam sed ac donec id ac. Mus faucibus iaculis massa mi nunc orci. Diam malesuada convallis amet integer. Eu faucibus hendrerit vulputate cursus amet.</p>
                    <h6 class="font-semibold text-xl mb-6 tracking-wide">Share this post</h6>
                    <div class="flex text-white">
                        <div class="h-10 w-10 bg-wa rounded-full text-center mr-3 cursor-pointer">
                            <i class="fab fa-whatsapp fa-lg mt-3"></i>
                        </div>
                        <div class="h-10 w-10 bg-fb rounded-full text-center mr-3 cursor-pointer">
                            <i class="fab fa-facebook fa-lg mt-3"></i>
                        </div>
                        <div class="h-10 w-10 bg-twitter rounded-full text-center mr-3 cursor-pointer">
                            <i class="fab fa-twitter fa-lg mt-3"></i>
                        </div>
                    </div>
                </div>
                <div class="max-w-[460px] md:max-xl:ml-6 max-xl:mt-12 lg:max-xl:ml-32">
                    <div class="flex">
                        <h2 class="font-semibold text-4xl mb-8">Latest Posts</h2>
                        <div class="border-t-2 border-secondary w-52 mt-5 ml-4"></div>
                    </div>
                    <div class="flex mb-8">
                        <img src="../public/img/latest-post.png" alt="">
                        <div class="ml-4">
                            <span class="text-secondary mb-2">Category</span>
                            <h5 class="font-semibold text-xl mb-2">We Construct Dreams</h5>
                            <h6 class="text-sm font-poppins mb-2">Lorem ipsum dolor sit amet consectetur. Eu habitant eget sapien pharetra faucibus quisque elementum sed. </h6>
                            <p class="text-silver3 text-sm font-poppins">posted by: admin1<span class="ml-4">20-02-2023</span></p>
                        </div>
                    </div>
                    <div class="flex mb-8">
                        <img src="../public/img/latest-post.png" alt="">
                        <div class="ml-4">
                            <span class="text-secondary mb-2">Category</span>
                            <h5 class="font-semibold text-xl mb-2">We Construct Dreams</h5>
                            <h6 class="text-sm font-poppins mb-2">Lorem ipsum dolor sit amet consectetur. Eu habitant eget sapien pharetra faucibus quisque elementum sed. </h6>
                            <p class="text-silver3 text-sm font-poppins">posted by: admin1<span class="ml-4">20-02-2023</span></p>
                        </div>
                    </div>
                    <div class="flex mb-8">
                        <img src="../public/img/latest-post.png" alt="">
                        <div class="ml-4">
                            <span class="text-secondary mb-2">Category</span>
                            <h5 class="font-semibold text-xl mb-2">We Construct Dreams</h5>
                            <h6 class="text-sm font-poppins mb-2">Lorem ipsum dolor sit amet consectetur. Eu habitant eget sapien pharetra faucibus quisque elementum sed. </h6>
                            <p class="text-silver3 text-sm font-poppins">posted by: admin1<span class="ml-4">20-02-2023</span></p>
                        </div>
                    </div>
                    <div class="flex mb-8">
                        <img src="../public/img/latest-post.png" alt="">
                        <div class="ml-4">
                            <span class="text-secondary mb-2">Category</span>
                            <h5 class="font-semibold text-xl mb-2">We Construct Dreams</h5>
                            <h6 class="text-sm font-poppins mb-2">Lorem ipsum dolor sit amet consectetur. Eu habitant eget sapien pharetra faucibus quisque elementum sed. </h6>
                            <p class="text-silver3 text-sm font-poppins">posted by: admin1<span class="ml-4">20-02-2023</span></p>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="border-[1.5px] border-silver3/30">
            <div class="mt-12">
                <h2 class="font-semibold text-3xl mb-12">Related Post</h2>
                <div class="grid gap-6 grid-cols-3 max-md:grid-cols-2 max-[500px]:grid-cols-1 pb-40">
                    <div class="bg-white">
                        <div class="overflow-hidden">
                            <img src="../public/img/news.png" class="transition-all duration-700 hover:scale-110 max-md:w-full">
                        </div>
                        <div class="relative mx-6 my-4">
                            <div class="absolute bg-accent text-white text-center font-poppins font-bold -top-[72px] -left-[34px] px-5 py-[4px]">24<br>Jan</div><div class="absolute border-secondaccent border-[5px] border-t-transparent border-l-transparent -top-[82px] -left-[34px]"></div>
                            <h3 class="text-2xl font-semibold mb-1">We Construct Dreams</h3>
                            <p class="font-poppins text-sm mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eget mollis metus, in vestibulum turpis. Nulla sit amet egestas leo, ac cursus nisi. Vestibulum iaculis turpis quis varius luctus. Ut eu aliquam lectus.</p>
                            <a href="./blog-detail.html" class="text-ambers hover:text-amber-600 duration-300">Read More</a>
                        </div>
                    </div>
                    <div class="bg-white">
                        <div class="overflow-hidden">
                            <img src="../public/img/news.png" class="transition-all duration-700 hover:scale-110 max-md:w-full">
                        </div>
                        <div class="relative mx-6 my-4">
                            <div class="absolute bg-accent text-white text-center font-poppins font-bold -top-[72px] -left-[34px] px-5 py-[4px]">24<br>Jan</div><div class="absolute border-secondaccent border-[5px] border-t-transparent border-l-transparent -top-[82px] -left-[34px]"></div>
                            <h3 class="text-2xl font-semibold mb-1">We Construct Dreams</h3>
                            <p class="font-poppins text-sm mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eget mollis metus, in vestibulum turpis. Nulla sit amet egestas leo, ac cursus nisi. Vestibulum iaculis turpis quis varius luctus. Ut eu aliquam lectus.</p>
                            <a href="#" class="text-ambers hover:text-amber-600 duration-300">Read More</a>
                        </div>
                    </div>
                    <div class="bg-white">
                        <div class="overflow-hidden">
                            <img src="../public/img/news.png" class="transition-all duration-700 hover:scale-110 max-md:w-full">
                        </div>
                        <div class="relative mx-6 my-4">
                            <div class="absolute bg-accent text-white text-center font-poppins font-bold -top-[72px] -left-[34px] px-5 py-[4px]">24<br>Jan</div><div class="absolute border-secondaccent border-[5px] border-t-transparent border-l-transparent -top-[82px] -left-[34px]"></div>
                            <h3 class="text-2xl font-semibold mb-1">We Construct Dreams</h3>
                            <p class="font-poppins text-sm mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eget mollis metus, in vestibulum turpis. Nulla sit amet egestas leo, ac cursus nisi. Vestibulum iaculis turpis quis varius luctus. Ut eu aliquam lectus.</p>
                            <a href="#" class="text-ambers hover:text-amber-600 duration-300">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="bg-primary bg-footer bg-blend-multiply bg-cover relative text-slate-300 lg:pt-24 max-lg:pt-6" id="footer">
        <div class="container mx-auto">
            <div class="bg-accent absolute text-center xl:max-w-md sm:max-xl:max-w-xs max-sm:max-w-xs -top-10 p-10 max-sm:hidden">
                <img src="../public/img/logo-footer.png" class="mb-6 mx-auto max-lg:w-[70%] max-md:w-[50%]">
                <p class="font-poppins xl:text-base max-xl:text-sm">Lorem ipsum dolor sit amet consectetur. Libero id sapien eu risus mauris eu non donec augue. Diam euismod pellentesque tempus enim adipiscing iaculis nam egestas. Consectetur ac dolor neque nulla in ultricies turpis habitasse massa. Vitae aliquet vitae nisi et. Volutpat purus erat amet augue venenatis et.</p>
                <ul class="flex justify-center mt-6 [&>li>a:hover]:text-white">
                    <li><a href="#"><i class="fab fa-lg fa-facebook mx-6"></i></a></li>
                    <li><a href="#"><i class="fab fa-lg fa-instagram mx-6"></i></a></li>
                </ul>
                <div class="border-secondaccent absolute border-[20px] border-t-transparent border-r-transparent top-0 -right-10"></div>
                <div class="border-primary absolute border-[20px] border-t-transparent border-l-transparent bottom-0 right-0"></div>
            </div>
            <div class="flex sm:justify-end max-sm:justify-around">
                <div class="grid xl:grid-cols-3 md:grid-cols-2 max-md:grid-cols-1 xl:w-[600px] lg:w-[460px] md:w-[300px] max-sm:grid-cols-3">
                    <div>
                        <h3 class="text-2xl font-semibold border-l-4 border-ambers pl-4 mb-6 text-white  max-sm:text-sm">Navigasi</h3>
                        <ul class="[&>*]:mb-4 [&>li>a:hover]:text-white md:text-base max-md:text-sm  max-sm:text-xs">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Our Unit</a></li>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Article</a></li>
                        </ul>
                    </div>
                    <div>
                        <h3 class="text-2xl font-semibold border-l-4 border-ambers pl-4 mb-6 text-white  max-sm:text-sm">Product</h3>
                        <ul class="[&>*]:mb-4 [&>li>a:hover]:text-white md:text-base max-md:text-sm  max-sm:text-xs">
                            <li><a href="#">Excavator</a></li>
                            <li><a href="#">Bulldozer</a></li>
                            <li><a href="#">Crane</a></li>
                        </ul>
                    </div>
                    <div class="lg:col-span-1 md:col-span-2">
                        <h3 class="text-2xl font-semibold border-l-4 border-ambers pl-4 mb-6 text-white  max-sm:text-sm">Kontak Kami</h3>
                        <ul class="[&>*]:mb-4 [&>li>a:hover]:text-white md:text-base max-md:text-sm  max-sm:text-xs max-sm:[&>li>i]:hidden">
                            <li><i class="fab fa-whatsapp mr-2"></i><a href="#">0811 8888 0898</a></li>
                            <li><i class="fas fa-phone mr-2"></i><a href="#">0811 8888 0898</a></li>
                            <li><i class="far fa-envelope mr-2"></i><a href="#">namaemail@gmail.com</a></li>
                            <li><i class="fas fa-map-marker-alt mr-3"></i><a href="#">Alamat</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center xl:mt-44 lg:pb-8 lg:mt-6">
            <p class="font-thin md:text-sm max-md:text-xs">Copyright © 2023 
                <a href="/">The Heavy Rental</a> - Powered by <a href="https://jasterweb.com" alt="Jasa Pembuatan Website" title="Jasa Pembuatan Website">@rza.dev</a>
            </p>
        </div>
    </footer>
    <script>
        function Open() {
            document.querySelector('.sidebar').classList.toggle('-left-80')
        }
    </script>
</body>
</html>