<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - The Heavy</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Roboto:wght@500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
</head>
<body class="font-roboto">
    <div class="sidebar fixed top-0 bottom-0 -left-80 lg:hidden bg-primary w-80 shadow-md z-50 p-4 overflow-y-auto">
        <div class="flex justify-between text-white items-center">
            <img src="../public/img/logo.png" alt="Logo" class="max-lg:mr-8">
            <div class="cursor-pointer px-4" onclick="Open()">
                <i class="bi bi-x-lg"></i>
            </div>
        </div>
        <div class="py-6">
            <ul class="text-white [&>li]:my-4 [&>li]:pl-4 [&>li]:py-4">
                <li class="rounded-lg bg-slate-400 cursor-pointer transition-all duration-300" onclick="window.location.href='./index.html'"><i class="bi bi-house-door-fill mr-4"></i>Home</li>
                <li class="hover-side" onclick="window.location.href='./product.html'"><i class="bi bi-grid-1x2-fill mr-4"></i>Our Unit</li>
                <li class="hover-side" onclick="window.location.href='./contact-us.html'"><i class="bi bi-telephone-inbound-fill mr-4"></i>Contact Us</li>
                <li class="hover-side" onclick="window.location.href='./about-us.html'"><i class="bi bi-question-circle-fill mr-4"></i>About Us</li>
                <li class="hover-side" onclick="window.location.href='./blog.html'">./<i class="bi bi-front mr-4"></i>Blog</li>
            </ul>
        </div>
    </div>
    <section class="bg-hero bg-cover text-white py-8" id="home">
        <div class="container mx-auto">
            <div class="max-w-5xl mx-auto">
                <header class="bg-header/30 py-[10px] rounded-xl border-solid border-4 border-white/10 lg:justify-center">
                    <ul class="lg:justify-center flex justify-between items-center [&>li]:hidden [&>*]:my-auto [&>*]:ml-10 lg:[&>li]:flex [&>li>a:hover]:text-slate-300">
                        <div class="flex">
                            <button class="lg:hidden sm:mr-8 max-[640px]:mr-8 text-2xl" onclick="Open()">
                                <i class="bi bi-list"></i>
                            </button>
                            <img src="../public/img/logo.png" alt="Logo" class="max-lg:mr-8">
                        </div>
                        <li><a href="./index.html" class="text-secondary hover:text-amber-400">Home</a></li>
                        <li><a href="./product.html">Our Unit</a></li>
                        <li><a href="./contact-us.html">Contact Us</a></li>
                        <li><a href="./about-us.html">About Us</a></li>
                        <li><a href="./blog.html">Blog</a></li>
                        <a href="https://api.whatsapp.com/send?phone=6282337719901" class="bg-secondary rounded-md py-3 px-5 hover:bg-amber-600 duration-300 mr-10" target="_blank"><i class="fab fa-lg fa-whatsapp mr-2"></i>Contact Us</a>
                    </ul>
                </header>
            </div>
            <div class="max-w-[750px] text-center my-36 mx-auto">
                <h1 class="text-6xl font-bold mb-6 max-[640px]:text-4xl">The Heavy Rental</h1>
                <p class="font-poppins">Lorem ipsum dolor sit amet consectetur. Ridiculus ac a egestas sed ipsum. Nunc molestie pulvinar mauris nec id pellentesque. Donec felis placerat congue est lobortis etiam. Facilisi nulla imperdiet duis felis netus nibh adipiscing turpis ultrices.</p>
            </div>
        </div>
    </section>
    <section class="relative bg-smoke py-32">
        <div class="container mx-auto">
            <div class="bg-primary text-white rounded-lg text-center flex justify-between absolute py-5 mx-auto left-0 right-0 sm:w-[80%] md:px-8 sm:px-4 md:-top-14 sm:-top-[60px] max-[640px]:w-[90%] max-[640px]:-top-14 max-[640px]:text-xs">
                <div class="w-[30%]">
                    <h6 class="text-secondary text-3xl font-semibold mb-2">100</h6>
                    <span class="md:text-base sm:text-sm">Completed Projects</span>
                </div>
                <div class="border-r-[1px]"></div>
                <div class="w-[30%]">
                    <h6 class="text-secondary text-3xl font-semibold mb-2">20</h6>
                    <span class="md:text-base sm:text-sm">Equipments</span>
                </div>
                <div class="border-r-[1px]"></div>
                <div class="w-[30%]">
                    <h6 class="text-secondary text-3xl font-semibold mb-2">8</h6>
                    <span class="md:text-base sm:text-sm">Years of experience</span>
                </div>
            </div>
            <div class="flex justify-around md:flex-row sm:flex-col max-[640px]:flex-col">
                <div class="relative max-[768px]:mx-auto">
                    <div class="overflow-hidden w-full h-full z-30">
                        <img src="../public/img/desc.png" class="transition-all duration-500 hover:scale-[1.17]">
                    </div>
                    <div class="absolute bg-secondary -top-10 -right-10 w-40 h-40 -z-10 max-md:hidden"></div>
                    <div class="absolute bg-white -bottom-10 -left-10 w-24 h-24 flex justify-center items-center z-40 lg:flex max-lg:hidden">
                        <div class="bg-secondary w-16 h-16"></div>
                    </div>
                    <div class="absolute bg-primary -bottom-14 left-10 w-8 h-8 z-50 lg:flex max-lg:hidden"></div>
                </div>
                <div class="max-w-[480px] md:ml-8 max-[768px]:mx-auto md:max-lg:max-w-[360px]">
                    <h2 class="text-4xl font-bold lg:mt-10 mb-6 max-md:mt-10 max-sm:text-center">Lorem Ipsum</h2>
                    <p class="font-poppins">Lorem ipsum dolor sit amet consectetur. Libero id sapien eu risus mauris eu non donec augue. Diam euismod pellentesque tempus enim adipiscing iaculis nam egestas. Consectetur ac dolor neque nulla in ultricies turpis habitasse massa. Vitae aliquet vitae nisi et. Volutpat purus erat amet augue venenatis et. Nunc diam mattis placerat turpis aliquet ipsum ullamcorper. Sed cras nibh arcu eget volutpat. Tincidunt nulla montes eu cras. Faucibus dui lacinia aliquam ut mauris donec.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-primary text-white py-20">
        <div class="container mx-auto">
            <h2 class="text-4xl font-semibold mb-8 max-sm:text-center">Some of our units</h2>
            <div class="grid gap-6 lg:grid-cols-4 md:grid-cols-3 max-md:grid-cols-2 max-[450px]:grid-cols-1">
                <div class="bg-white">
                    <div class="overflow-hidden">
                        <img src="../public/img/bulldozer.png" class="transition-all duration-700 hover:scale-110 max-md:w-full">
                    </div>
                    <div class="text-center py-4 mb-2">
                        <h3 class="text-2xl font font-bold text-black mb-3">Bulldozer</h3>
                        <a href="#" class="rounded-md bg-secondary px-20 py-[6px] hover:bg-amber-600 duration-300">Detail</a>
                    </div>
                </div>
                <div class="bg-white">
                    <div class="overflow-hidden">
                        <img src="../public/img/bulldozer.png" class="transition-all duration-700 hover:scale-110 max-md:w-full">
                    </div>
                    <div class="text-center py-4 mb-2">
                        <h3 class="text-2xl font font-bold text-black mb-3">Excavator</h3>
                        <a href="#" class="rounded-md bg-secondary px-20 py-[6px] hover:bg-amber-600 duration-300">Detail</a>
                    </div>
                </div>
                <div class="bg-white">
                    <div class="overflow-hidden">
                        <img src="../public/img/bulldozer.png" class="transition-all duration-700 hover:scale-110 max-md:w-full">
                    </div>
                    <div class="text-center py-4 mb-2">
                        <h3 class="text-2xl font font-bold text-black mb-3">Crane</h3>
                        <a href="#" class="rounded-md bg-secondary px-20 py-[6px] hover:bg-amber-600 duration-300">Detail</a>
                    </div>
                </div>
                <div class="bg-white md:max-lg:col-start-2">
                    <div class="overflow-hidden">
                        <img src="../public/img/bulldozer.png" class="transition-all duration-700 hover:scale-110 max-md:w-full">
                    </div>
                    <div class="text-center py-4 mb-2">
                        <h3 class="text-2xl font font-bold text-black mb-3">Bulldozer</h3>
                        <a href="#" class="rounded-md bg-secondary px-20 py-[6px] hover:bg-amber-600 duration-300">Detail</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-smoke py-24">
        <div class="container mx-auto">
            <div class="flex justify-between md:flex-row max-md:flex-col-reverse">
                <div class="xl:max-w-[480px] md:max-w-[440px] md:mr-8 max-md:mt-8 max-sm:flex max-sm:flex-col">
                    <h2 class="text-4xl font-bold border-l-4 border-ambers pl-4 mb-6 max-sm:text-center  max-sm:border-0">About Us</h2>
                    <p class="font-poppins mb-4">Lorem ipsum dolor sit amet consectetur. Libero id sapien eu risus mauris eu non donec augue.</p>
                    <p class="font-poppins mb-8">Diam euismod pellentesque tempus enim adipiscing iaculis nam egestas. Consectetur ac dolor neque nulla in ultricies turpis habitasse massa. Vitae aliquet vitae nisi et. Volutpat purus erat amet augue venenatis et.</p>
                    <a href="#" class="rounded-md bg-secondary text-white px-10 py-[10px] hover:bg-amber-600 duration-300 max-sm:mx-auto">View More</a>
                </div>
                <div class="relative">
                    <div class="overflow-hidden">
                        <img src="../public/img/aboutus.png" class="transition-all duration-500 hover:scale-[1.17]">
                    </div>
                    <div class="absolute bg-smoke flex items-center justify-center xl:-bottom-10 xl:-left-10 xl:w-36 xl:h-36">
                        <div class="bg-ambers xl:w-28 xl:h-28"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-white py-16">
        <div class="container mx-auto">
            <h2 class="text-4xl font-semibold mb-8 max-sm:text-center">A reliable brand for every job</h2>
            <div class="flex sm:justify-between max-sm:justify-center items-center -ml-4 max-lg:flex-wrap max-sm:flex-col">
                <div>
                    <img src="../public/img/sakai.png" class="max-lg:mb-4">
                </div>
                <div>
                    <img src="../public/img/hitachi.png" class="max-lg:mb-4">
                </div>
                <div>
                    <img src="../public/img/komatsu.png" class="max-lg:mb-4">
                </div>
                <div>
                    <img src="../public/img/genie.png" class="max-lg:mb-4">
                </div>
            </div>
        </div>
    </section>
    <section class="bg-smoke py-24">
        <div class="container mx-auto">
            <h2 class="text-4xl font-semibold mb-8 max-sm:text-center">Lates News</h2>
            <div class="grid lg:grid-cols-3 max-lg:grid-cols-2 lg:gap-4 max-lg:gap-8 max-sm:grid-cols-1">
                <div class="bg-white">
                    <div class="overflow-hidden">
                        <img src="../public/img/news.png" class="transition-all duration-700 hover:scale-110 max-md:w-full">
                    </div>
                    <div class="mx-6 my-4">
                        <h3 class="text-2xl font-semibold mb-1">We Construct Dreams</h3>
                        <p class="font-poppins mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eget mollis metus, in vestibulum turpis. Nulla sit amet egestas leo, ac cursus nisi. Vestibulum iaculis turpis quis varius luctus. Ut eu aliquam lectus.</p>
                        <a href="#" class="text-ambers hover:text-amber-600 duration-300">Read More</a>
                    </div>
                </div>
                <div class="bg-white">
                    <div class="overflow-hidden">
                        <img src="../public/img/news.png" class="transition-all duration-700 hover:scale-110 max-md:w-full">
                    </div>
                    <div class="mx-6 my-4">
                        <h3 class="text-2xl font-semibold mb-1">We Construct Dreams</h3>
                        <p class="font-poppins mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eget mollis metus, in vestibulum turpis. Nulla sit amet egestas leo, ac cursus nisi. Vestibulum iaculis turpis quis varius luctus. Ut eu aliquam lectus.</p>
                        <a href="#" class="text-ambers hover:text-amber-600 duration-300">Read More</a>
                    </div>
                </div>
                <div class="bg-white">
                    <div class="overflow-hidden">
                        <img src="../public/img/news.png" class="transition-all duration-700 hover:scale-110 max-md:w-full">
                    </div>
                    <div class="mx-6 my-4">
                        <h3 class="text-2xl font-semibold mb-1">We Construct Dreams</h3>
                        <p class="font-poppins mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eget mollis metus, in vestibulum turpis. Nulla sit amet egestas leo, ac cursus nisi. Vestibulum iaculis turpis quis varius luctus. Ut eu aliquam lectus.</p>
                        <a href="#" class="text-ambers hover:text-amber-600 duration-300">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="bg-primary bg-footer bg-blend-multiply bg-cover relative text-slate-300 lg:pt-24 max-lg:pt-6" id="footer">
        <div class="container mx-auto">
            <div class="bg-accent absolute text-center xl:max-w-md sm:max-xl:max-w-xs max-sm:max-w-xs -top-10 p-10 max-sm:hidden">
                <img src="../public/img/logo-footer.png" class="mb-6 mx-auto max-lg:w-[70%] max-md:w-[50%]">
                <p class="font-poppins xl:text-base max-xl:text-sm">Lorem ipsum dolor sit amet consectetur. Libero id sapien eu risus mauris eu non donec augue. Diam euismod pellentesque tempus enim adipiscing iaculis nam egestas. Consectetur ac dolor neque nulla in ultricies turpis habitasse massa. Vitae aliquet vitae nisi et. Volutpat purus erat amet augue venenatis et.</p>
                <ul class="flex justify-center mt-6 [&>li>a:hover]:text-white">
                    <li><a href="#"><i class="fab fa-lg fa-facebook mx-6"></i></a></li>
                    <li><a href="#"><i class="fab fa-lg fa-instagram mx-6"></i></a></li>
                </ul>
                <div class="border-secondaccent absolute border-[20px] border-t-transparent border-r-transparent top-0 -right-10"></div>
                <div class="border-primary absolute border-[20px] border-t-transparent border-l-transparent bottom-0 right-0"></div>
            </div>
            <div class="flex sm:justify-end max-sm:justify-around">
                <div class="grid xl:grid-cols-3 md:grid-cols-2 max-md:grid-cols-1 xl:w-[600px] lg:w-[460px] md:w-[300px] max-sm:grid-cols-3">
                    <div>
                        <h3 class="text-2xl font-semibold border-l-4 border-ambers pl-4 mb-6 text-white  max-sm:text-sm">Navigasi</h3>
                        <ul class="[&>*]:mb-4 [&>li>a:hover]:text-white md:text-base max-md:text-sm  max-sm:text-xs">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Our Unit</a></li>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Article</a></li>
                        </ul>
                    </div>
                    <div>
                        <h3 class="text-2xl font-semibold border-l-4 border-ambers pl-4 mb-6 text-white  max-sm:text-sm">Product</h3>
                        <ul class="[&>*]:mb-4 [&>li>a:hover]:text-white md:text-base max-md:text-sm  max-sm:text-xs">
                            <li><a href="#">Excavator</a></li>
                            <li><a href="#">Bulldozer</a></li>
                            <li><a href="#">Crane</a></li>
                        </ul>
                    </div>
                    <div class="lg:col-span-1 md:col-span-2">
                        <h3 class="text-2xl font-semibold border-l-4 border-ambers pl-4 mb-6 text-white  max-sm:text-sm">Kontak Kami</h3>
                        <ul class="[&>*]:mb-4 [&>li>a:hover]:text-white md:text-base max-md:text-sm  max-sm:text-xs max-sm:[&>li>i]:hidden">
                            <li><i class="fab fa-whatsapp mr-2"></i><a href="#">0811 8888 0898</a></li>
                            <li><i class="fas fa-phone mr-2"></i><a href="#">0811 8888 0898</a></li>
                            <li><i class="far fa-envelope mr-2"></i><a href="#">namaemail@gmail.com</a></li>
                            <li><i class="fas fa-map-marker-alt mr-3"></i><a href="#">Alamat</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center xl:mt-44 lg:pb-8 lg:mt-6">
            <p class="font-thin md:text-sm max-md:text-xs">Copyright © 2023 
                <a href="/">The Heavy Rental</a> - Powered by <a href="https://jasterweb.com" alt="Jasa Pembuatan Website" title="Jasa Pembuatan Website">@rza.dev</a>
            </p>
        </div>
        <a href="#home" class="w-12 h-12 bg-secondary rounded-full text-center fixed bottom-5 right-5 cursor-pointer animate-bounce z-50 hidden text-white hover:bg-amber-600  transition-all duration-300" id="toTop">
            <i class="fas fa-arrow-up fa-lg my-3 pt-0.5"></i>
        </a>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script>
        function Open() {
            document.querySelector('.sidebar').classList.toggle('-left-80')
        }
        
        // scroll ke atas 
        $(window).scroll(function() {
        if($(this).scrollTop() > 600) {
            $('#toTop').show();
        } else {
            $('#toTop').hide();
        }
        });

        $('#toTop').click(function() {
        $('html, body').animate({
            scrollTop: 0
        }, 600);
        return false;
        });
    </script>
</body>
</html>